* {
  box-sizing: border-box;
}

html,
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 320px;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  color: #1d1d1d;
}

.hidden {
  display: none;
}

.brand {
  color: #343e3e;
}

.row {
  margin: 0.5rem 0;
}

.row:first-child {
  margin-bottom: 0;
}

.row:last-child {
  margin-bottom: 0;
}

.row.centered {
  text-align: center;
}

.row.flow {
  display: flex;
  flex-direction: row;
}

#options {
  margin-top: 1rem;
  text-align: left;
}

.option {
  background-color: #b5d6d638;
  padding: 0.5rem;
}

.option input[type="checkbox"] {
  margin-right: 0.5rem;
}

.option label {
  cursor: pointer;
  user-select: none;
  flex: 1;
}

#domain {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: #819d9d;
  color: #1d1d1d;
  padding: 0.5rem;
}

#content {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

#power {
  user-select: none;
  margin: 0 auto;
  width: auto;
  height: auto;
  font-size: 6em;
  color: #00000000;
  -webkit-text-stroke: 2px #581708;
}

#power.clickable {
  cursor: pointer;
}

#power.active {
  color: #ff3c10;
  -webkit-text-stroke: 2px #ff866b;
  -webkit-text-stroke-width: 0px;
}

#hint {
  margin-top: 0.5rem;
  font-size: 0.8em;
  opacity: 0;
}

#hint.active {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #343434;
    color: #eee;
  }

  #domain {
    background-color: #b6e4e4;
    color: #181c1c;
  }

  .brand {
    color: #b5d6d6;
  }

  #power {
    -webkit-text-stroke-color: #ff4a22;
  }

  #power.active {
    color: #ff3c10;
    -webkit-text-stroke-color: #ff866b;
  }
}
