@import "_reset";

:root {
    --text-color: #d9d9d9;
    --link-color: #b3d9ec;
    --link-hover: #eee;
    --analyzed-color: #e55555;
    --heading-color: #eee;

    --tab-background: #3c3c3c;
    --tab-active-color: #eee;
    --tab-active-background: #3c3c3c;
    --tab-disabled-color: #8f8f8f;

    --primary-color: #000000;

    --default-bg: #e4e4e4;
    --default-bg-darker: #a4a4a4;

    --primary-bg: #35bba2;
    --primary-bg-darker: #2e9e89;

    --destructive-color: #d6d6d6;
    --destructive-bg: #8b0b0b;

    --button-border: #656565;

    --bullet-bg: #8abc83;
    --bullet-bg-disabled: #8393bc;

    --bg: #2a2a2a;
    --bg-highlight: #343434;

    --inflection-color: #e8e8e8;
    --inflection-active-bg:  #408399 ;
    --inflection-disabled-bg: #5f5f5f;
    --inflection-hover: #282828;

    --notice-title-size: 0.8em;

    --bullet-color: #282828;
    --bullet-margin: 0.1rem;
    --bullet-size: 0.8em;
    --bullet-sm-size: 0.8em;

    --section-sm-margin: 0.25rem;
    --section-margin: 0.5rem;
    --section-lg-margin: 1rem;
    --section-xl-margin: 2rem;
    
    --separator-color: #ffffff46;
    --input-border-primary: #ffffff9e;
}

@mixin button-body {
    margin: var(--bullet-margin);
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    cursor: pointer;

    &.destructive {
        color: var(--destructive-color);
        background-color: var(--destructive-bg);
    }
}

body {
    overflow-y: scroll;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg);
    height: 100%;
}

#prompt {
    input[type="text"] {
        width: 100%;
        font-size: 1.4em;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid var(--input-border-primary);
    }
}

#translation {
    .translation-title {
        font-weight: bold;
    }
}

#analyze {
    .hint {
        font-size: 80%;
    }

    .analyze-text {
        font-size: 180%;
        white-space: pre;
        line-height: 1.2em;

        &.empty {
            font-style: italic;
        }
    }
}

.analyze-span {
    &.active {
        color: var(--analyzed-color);
    }
}

#container {
    font-size: 1em;
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
    max-width: 1200px;

    &.embed {
        .analyze-text {
            font-size: 120% !important;
        }
    }
}

#copyright {
    font-size: 0.8em;
    text-align: center;
}

@mixin entry-margin($margin) {
    margin-bottom: $margin;
    margin-top: $margin;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}

@mixin block-margin($margin) {
    margin-bottom: $margin;
    margin-top: $margin;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}

.text.kanji {
    font-size: 1.5em;
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .column {
        flex-grow: 1;
    }

    .column.characters {
        max-width: 320px;
        min-width: 200px;
        flex-grow: unset;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 2px solid var(--tab-background);

    .tab {
        font-weight: bold;
        font-size: 0.8em;
        padding: 0.5rem;
        background-color: var(--tab-background);

        &.active {
            cursor: default;
            color: var(--tab-active-color);
            background-color: var(--tab-active-background);
        }

        &.disabled {
            cursor: default;
            color: var(--tab-disabled-color);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    @include block-margin(var(--section-margin));
}

h1, h2, h3, h4 {
    font-size: 1.5em;
}

h5, h6 {
    font-size: 1.2em;
}

.block {
    @include block-margin(var(--section-margin));

    display: flex;
    flex-direction: column;

    &.indent {
        padding-left: var(--section-lg-margin);
        padding-right: var(--section-lg-margin);
    }

    &.inline {
        display: block;
    }

    &.row {
        flex-flow: row wrap;

        & > * {
            align-self: center;
        }

        &.row-spaced {
            gap: 0.5rem;
        }

        .end {
            margin-left: auto;
        }
    }

    &.notice {
        background-color: var(--bg-highlight);
        padding: var(--section-margin);

        .title {
            font-size: var(--notice-title-size);
        }
    }

    &-sm {
        @include block-margin(var(--section-sm-margin));
    }

    &-lg {
        @include block-margin(var(--section-lg-margin));
    }

    &-xl {
        @include block-margin(var(--section-xl-margin));
    }

    &-xl {
        @include block-margin(var(--section-xl-margin));
    }
}

.tutorials {
    font-size: 80%;
    white-space: pre;
}

.section {
    @include block-margin(var(--section-margin));

    &-lg {
        @include block-margin(1rem);
    }
}

.col {
    display: flex;
}

.sep {
    margin-right: var(--bullet-margin);
}

.entry {
    &-sequence {
        margin-left: auto;
    }

    &-key {
        font-size: var(--bullet-size);
    }

    &-separator {
        @include entry-margin(var(--section-margin));
        height: 2px;
        border-radius: 1px;
        background-color: var(--separator-color);
    }
}

.character {
    margin: 1rem 0;

    & > div {
        margin: 0.5rem 0;
    }

    .literal {
        font-size: 200%;
        margin-bottom: 0.5rem;
    }

    &-separator {
        @include block-margin(var(--section-margin));
        height: 2px;
        border-radius: 1px;
        background-color: var(--separator-color);
    }

    .meanings {
        li {
            margin-left: 1rem;
            list-style: circle;
        }
    }
}

.btn {
    color: var(--primary-color);
    background-color: var(--default-bg);
    padding: 0.1rem 0.25rem;
    border: 1px solid var(--button-border);
    border-radius: 5px;

    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: var(--default-bg-darker);
    }

    &.primary {
        color: var(--primary-color);
        background-color: var(--primary-bg);

        &:hover:not(:disabled) {
            background-color: var(--primary-bg-darker);
        }
    }

    &:disabled {
        opacity: 0.5;
    }

    &-lg {
        font-size: 1.1em;
        padding: 0.25rem;
    }
}

.list-numerical {
    list-style: decimal;
    margin-left: 1.5em;
}

.list-bulleted {
    list-style: circle;
    margin-left: 1.5em;
}

.inflections {
    list-style: circle;
    margin-left: 1.5em;

    &-value {
        margin-top: var(--section-margin);
        font-size: 1.5em;
    }
}

.bullets {
    display: flex;
    flex-wrap: wrap;
    gap: var(--bullet-margin);
}

.bullet {
    @include button-body;
    color: var(--bullet-color);
    font-size: var(--bullet-size);
    background-color: var(--bullet-bg);

    &.sm {
        font-size: var(--bullet-sm-size);
    }
}

.inflection {
    @include button-body;
    font-size: var(--bullet-size);
    background-color: var(--inflection-disabled-bg);

    &.active {
        color: var(--inflection-color);
        background-color: var(--inflection-active-bg);
    }
}

.clickable {
    cursor: pointer;
    color: var(--link-color);

    &:hover {
        color: var(--link-hover);
    }
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover);
    }
}

.setting {
    background-color: var(--bg-highlight);
    padding: var(--section-margin);
}

.log {
    max-height: 40em;
    overflow-y: scroll;
}

.log-entry {
    font-family: monospace;
    font-size: 0.8em;
    margin-bottom: 0.25rem;
    white-space: pre;

    &:last-child {
        margin-bottom: 0;
    }

    &-info > .log-level {
        background-color: rgb(16, 94, 80);
    }

    &-warn > .log-level {
        background-color: rgb(153, 86, 19);
    }

    &-error > .log-level {
        background-color: rgb(105, 16, 16);
    }
}

.log-level {
    text-align: center;
    width: 4em;
}

.log-target {
    background-color: var(--bg-highlight);
}

.log-field {
    display: inline-block;
    padding: 0.25rem;
    margin-right: 0.25rem;

    &:last-child {
        margin-right: 0;
    }
}

.embed {
    #tasks {
        font-size: 0.8em;
    }
}

#tasks {
    .task {
        font-family: monospace;
        font-size: 0.8em;
        margin-bottom: 0.25rem;
        white-space: pre;

        &-field {
            display: inline-block;
            padding: 0.25rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-name {
            background-color: rgb(16, 94, 80);
        }

        &-progress {
            flex: 1;

            progress {
                width: 100%;
            }
        }
    }
}
