@import "_reset";
@import "_mixins";

:root {
    --text-color: #d9d9d9;
    --heading-color: #eee;
    --link-color: #b3d9ec;
    --link-hover: #eee;
    --analyzed-color: #e55555;

    --tab-background: #3c3c3c;
    --tab-active-color: #eee;
    --tab-active-background: #3c3c3c;
    --tab-disabled-color: #8f8f8f;

    --btn-color: #2a2a2a;
    --btn-bg: #e4e4e4;
    --btn-bg-darker: #a4a4a4;
    --btn-border: #656565;

    --primary-color: #2a2a2a;
    --primary-bg: #b3d9ec;
    --primary-bg-darker: #92afbd;
    --primary-border: #c2ebff;

    --warn-color: #d9d9d9;
    --warn-bg: #995613;
    --warn-bg-darker: #864b11;
    --warn-border: #6e3e0f;

    --danger-color: #d9d9d9;
    --danger-bg: #861a1a;
    --danger-bg-darker: #af2828;
    --danger-border: #a02020;

    --bullet-bg: #8abc83;
    --bullet-bg-disabled: #8393bc;

    --bg: #2a2a2a;
    --bg-highlight: #343434;

    --inflection-color: #e8e8e8;
    --inflection-active-bg:  #408399 ;
    --inflection-disabled-bg: #5f5f5f;
    --inflection-hover: #282828;

    --notice-title-size: 0.8em;
    --notice-font-size: 0.8em;

    --bullet-color: #282828;
    --bullet-margin: 0.1rem;
    --bullet-size: 0.8em;
    --bullet-sm-size: 0.8em;

    --section-sm-margin: 0.25rem;
    --section-margin: 0.5rem;
    --section-lg-margin: 1rem;
    --section-xl-margin: 2rem;
    
    --separator-color: #ffffff46;
    --input-border-primary: #ffffff9e;
}

@mixin button-body {
    margin: var(--bullet-margin);
    padding: 0.2rem 0.4rem;
    border: 1px solid var(--bullet-color);
    border-radius: 3px;

    &.danger {
        color: var(--danger-color);
        background-color: var(--danger-bg);
    }
}

body {
    overflow-y: scroll;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg);
    height: 100%;
}

#prompt {
    input[type="text"] {
        width: 100%;
        font-size: 1.4em;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid var(--input-border-primary);
    }
}

#translation {
    .translation-title {
        font-weight: bold;
    }
}

#analyze {
    .hint {
        font-size: 80%;
    }

    .analyze-text {
        font-size: 180%;
        white-space: pre;
        line-height: 1.2em;

        &.empty {
            font-style: italic;
        }
    }
}

.analyze-span {
    &.active {
        color: var(--analyzed-color);
    }
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;

    &.embed {
        .analyze-text {
            font-size: 120% !important;
        }
    }
}

#content {
    font-size: 1em;
    padding: 1rem;
}

#copyright {
    font-size: 0.8em;
    text-align: center;
}

@mixin entry-margin($margin) {
    margin-bottom: $margin;
    margin-top: $margin;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}

@mixin block-margin($margin) {
    margin-bottom: $margin;
    margin-top: $margin;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}

.text {
    &.kanji {
        font-size: 1.5em;
    }
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .column {
        flex-grow: 1;
    }

    .column.characters {
        max-width: 320px;
        min-width: 200px;
        flex-grow: unset;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 2px solid var(--tab-background);

    .tab {
        font-weight: bold;
        font-size: 0.8em;
        padding: 0.5rem;
        background-color: var(--tab-background);

        &.active {
            cursor: default;
            color: var(--tab-active-color);
            background-color: var(--tab-active-background);
        }

        &.disabled {
            cursor: default;
            color: var(--tab-disabled-color);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    @include block-margin(var(--section-margin));
}

h1, h2, h3, h4 {
    font-size: 1.5em;
}

h5, h6 {
    font-size: 1.2em;
}

.block {
    @include block-margin(var(--section-margin));

    display: flex;
    flex-direction: column;

    &.indent {
        padding-left: var(--section-lg-margin);
        padding-right: var(--section-lg-margin);
    }

    &.inline {
        display: block;
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-weight: bold;
    }

    &.notice {
        font-size: var(--notice-font-size);
        background-color: var(--bg-highlight);
        padding: var(--section-margin);
    }

    &.danger {
        color: var(--danger-color);
        background-color: var(--danger-bg);
        border-color: var(--danger-border);
        font-size: var(--notice-font-size);
        padding: 0.5rem;
        border-radius: 5px;
    }

    &-sm {
        @include block-margin(var(--section-sm-margin));
    }

    &-lg {
        @include block-margin(var(--section-lg-margin));
    }

    &-xl {
        @include block-margin(var(--section-xl-margin));
    }

    &-xl {
        @include block-margin(var(--section-xl-margin));
    }
}

.row {
    display: flex;
    flex-flow: row wrap;

    & > * {
        align-self: center;
    }

    &.row-bottom {
        & > * {
            align-self: end;
        }
    }

    &.row-spaced {
        gap: 0.5rem;
    }

    .end {
        margin-left: auto;
    }
}

.tutorials {
    font-size: 80%;
    white-space: pre;
}

.section {
    @include block-margin(var(--section-margin));

    &-lg {
        @include block-margin(1rem);
    }
}

.col {
    display: flex;
}

.sep {
    margin-right: var(--bullet-margin);
}

.entry {
    &-sequence {
        margin-left: auto;
    }

    &-key {
        font-size: var(--bullet-size);
    }

    &-separator {
        @include entry-margin(var(--section-margin));
        height: 2px;
        border-radius: 1px;
        background-color: var(--separator-color);
    }
}

.character {
    margin: 1rem 0;

    & > div {
        margin: 0.5rem 0;
    }

    .literal {
        font-size: 200%;
        margin-bottom: 0.5rem;
    }

    &-separator {
        @include block-margin(var(--section-margin));
        height: 2px;
        border-radius: 1px;
        background-color: var(--separator-color);
    }

    .meanings {
        li {
            margin-left: 1rem;
            list-style: circle;
        }
    }
}

.btn {
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 0.8em;

    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: var(--btn-bg-darker);
    }

    &.primary {
        color: var(--primary-color);
        background-color: var(--primary-bg);
        border-color: var(--primary-border);

        &:hover:not(:disabled) {
            background-color: var(--primary-bg-darker);
        }
    }

    &.danger {
        color: var(--danger-color);
        background-color: var(--danger-bg);
        border-color: var(--danger-border);

        &:hover:not(:disabled) {
            background-color: var(--danger-bg-darker);
        }
    }

    &:disabled {
        opacity: 0.5;
    }

    &-sm {
        font-size: 0.6em;
    }

    &-lg {
        font-size: 1em;
    }
}

.list-numerical {
    list-style: decimal;
    margin-left: 1.5em;
}

.list-bulleted {
    list-style: circle;
    margin-left: 1.5em;
}

.inflections {
    list-style: circle;
    margin-left: 1.5em;

    &-value {
        margin-top: var(--section-margin);
        font-size: 1.5em;
    }
}

.bullets {
    display: flex;
    flex-wrap: wrap;
    gap: var(--bullet-margin);
}

.bullet {
    @include button-body;
    color: var(--bullet-color);
    font-size: var(--bullet-size);
    background-color: var(--bullet-bg);

    &.sm {
        font-size: var(--bullet-sm-size);
    }

    &.danger {
        color: var(--danger-color);
        background-color: var(--danger-bg);
        border-color: var(--danger-border)
    }
}

.inflection {
    @include button-body;
    font-size: var(--bullet-size);
    background-color: var(--inflection-disabled-bg);

    &.active {
        color: var(--inflection-color);
        background-color: var(--inflection-active-bg);
    }

    &.clickable {
        color: inherit;
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        color: var(--link-hover);
    }
}

.link {
    color: var(--link-color);
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover);
    }
}

.index {
    background-color: var(--bg-highlight);
    padding: var(--section-margin);

    &-id {
        font-weight: bold;
    }
}

.log {
    max-height: 40em;
    overflow-y: scroll;
}

.log-entry {
    font-family: monospace;
    font-size: 0.8em;
    margin-bottom: 0.25rem;
    white-space: pre;

    &:last-child {
        margin-bottom: 0;
    }

    &-info > .log-level {
        color: var(--primary-color);
        background-color: var(--primary-bg);
    }

    &-warn > .log-level {
        background-color: var(--warn-bg);
    }

    &-error > .log-level {
        color: var(--danger-color);
        background-color: var(--danger-bg);
    }
}

.log-level {
    text-align: center;
    width: 4em;
}

.log-target {
    background-color: var(--bg-highlight);
}

.log-field {
    display: inline-block;
    padding: 0.25rem;
    margin-right: 0.25rem;

    &:last-child {
        margin-right: 0;
    }
}

#tasks {
    .task {
        font-family: monospace;
        font-size: 0.8em;
        margin-bottom: 0.25rem;
        white-space: pre;

        &-field {
            display: inline-block;
            padding: 0.25rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-name {
            color: var(--primary-color);
            background-color: var(--primary-bg);
        }

        &-progress {
            flex: 1;

            progress {
                width: 100%;
            }
        }
    }
}

#window-top {
    padding: 0.5rem;
    background-color: var(--bg-highlight);
    border-bottom: 1px solid var(--separator-color);

    & > .container {
        display: grid;
        grid-template-columns: min-content auto min-content auto min-content;
        grid-gap: 0.5rem;

        & > * {
            white-space: nowrap;
        }

        .left {
            display: flex;
            gap: 0.5rem;
        }

        .right {
            display: flex;
            gap: 0.5rem;
        }

        .sub-title {
            margin-left: 0.5rem;
            font-size: 0.6em;
        }

        .maximize {
            font-size: 1.2em;
            align-self: stretch !important;
            margin-left: 0.5rem;
        }
    }
}

.form {
    & > * {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h6 {
        font-size: 0.8em;
    }

    &-help {
        font-size: 0.8em;
    }

    &-error {
        padding: 0.5rem;
        font-size: 0.8em;
        color: var(--danger-color);
        background-color: var(--danger-bg);
    }

    &.has-errors {
        input {
            border: 1px solid var(--danger-bg);
        }

        select {
            border: 1px solid var(--danger-bg);
        }
    }
}

@include until($mobile) {
    #tasks {
        font-size: 0.8em;
    }
}

@include from($mobile) {
    .form {
        input {
            max-width: 30em;
        }

        select {
            max-width: 30em;
        }
    }
}
